[Unit]
Description=StoryWorlds MUD Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/ubuntu/gomud/engine
Environment=CONFIG_PATH=../config.yaml
Environment=ANTHROPIC_API_KEY=
ExecStart=/home/ubuntu/gomud/GoMud
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
